/* common.css - 초기화*/
@import
url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),	url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); }
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
	src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') }
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); }

* {
	margin:0;
	padding:0;}

html, body {
	font: 12px / 150%'Nanum Gothic', sans-serif; /*폰트크기 11px, 줄간격 150% 적용*/
	color: #000;}

table, tr, th, td {
	font: 12px / 150%'Nanum Gothic', sans-serif;
	color: #000;}

h1,h2,h3,h4,h5,h6 {
	font-size: 1.0em;
	font-weight: normal;}

ul, ol, li {
	list-style:none;}

a, img, label {
	display: block;}

hr, caption, legend {
	display: none;}

/* input, select, option, textarea, button {
	border: none;
	background: transparent;
	border-radius: 0;
	outline: none;} */

img, fieldset, frameset, iframe {
	border: none;}

strong, b {
	font-weight: normal;}

em, i, address {
	font-style: normal;}

a {
	text-decoration: none;
	color: #000;}

/*** CLASS STYLE ***/
.skip, .blind {
	display: block;
	height: 0;
	overflow: hidden;
	
	position: absolute;
	top: -9000px;}


/*** 미디어별 선택자 정리 ***/
#toggle_menu,
#toggle_search {display: none;}

/** pc **/
@media screen and (min-width: 1367px) {
	label.toggle_menu,
	label.toggle_search,
	ul#top_nav_m,
	ul#main_nav > li > h3 {display: none;}
}

/** mobile **/
@media screen and (max-width: 1366px) {
	#top_nav,
	ul#main_nav > li > a {display: none;}
}


/* Swiper */
.swiper-container {
	width: 100%;
}

@media screen and (max-width: 1366px) {
	.swiper-container {
		margin-top: 52px;
	}
}

.swiper-slide {
	width: 100%;
	padding-top: 700px;
}

@media screen and (max-width: 1366px) and (min-width: 768px) {
	.swiper-slide {
		padding-top: 100%;
	}
}

@media screen and (max-width: 767px) {
	.swiper-slide {
		padding-top: 133.33%;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	text-indent: -6000px;
	overflow: hidden;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

@media screen and (min-width: 1367px) {
	.swiper-slide:nth-of-type(1) {
		background: url(http://www.placehold.it/2000x700/cccccc/ffffff) center;
	}
	.swiper-slide:nth-of-type(2) {
		background: url(http://www.placehold.it/2000x700/ffcccc/ffffff) center;
	}
	.swiper-slide:nth-of-type(3) {
		background: url(http://www.placehold.it/2000x700/ffff00/ffffff) center;
	}
	.swiper-slide:nth-of-type(4) {
		background: url(http://www.placehold.it/2000x700/999999/ffffff) center;
	}
}

@media screen and (max-width: 1366px) and (min-width: 767px) {
	.swiper-slide:nth-of-type(1) {
		background: url(http://www.placehold.it/1400x1400/cccccc/ffffff) 0 0/100%
			auto;
	}
	.swiper-slide:nth-of-type(2) {
		background: url(http://www.placehold.it/1400x1400/ffcccc/ffffff) 0 0/100%
			auto;
	}
	.swiper-slide:nth-of-type(3) {
		background: url(http://www.placehold.it/1400x1400/ffff00/ffffff) 0 0/100%
			auto;
	}
	.swiper-slide:nth-of-type(4) {
		background: url(http://www.placehold.it/1400x1400/999999/ffffff) 0 0/100%
			auto;
	}
}

@media screen and (max-width: 767px) {
	.swiper-slide:nth-of-type(1) {
		background: url(http://www.placehold.it/600x800/cccccc/ffffff) 0 0/100%
			auto;
	}
	.swiper-slide:nth-of-type(2) {
		background: url(http://www.placehold.it/600x800/ffcccc/ffffff) 0 0/100%
			auto;
	}
	.swiper-slide:nth-of-type(3) {
		background: url(http://www.placehold.it/600x800/ffff00/ffffff) 0 0/100%
			auto;
	}
	.swiper-slide:nth-of-type(4) {
		background: url(http://www.placehold.it/600x800/999999/ffffff) 0 0/100%
			auto;
	}
}


/* 추가 CSS*/

/* 글 상세 폼 제목 */
/*.title_view{
	font-size: 35px !important;
    text-align: center !important;
}*/